-@title       = "#{@post.title} · Javier Acero's blog"
-@description = @post.description

%article#post
  %h1.title= @post.title
  %span.date= "#{formatted_post_date_for(@post)}"
  %p.description= @post.description
  =haml @post.content

%script(src="/assets/rainbow-custom.min.js")
